@inherits BladixComponentBase
@implements IDisposable

@if (AsChild)
{
    @ChildContent
}
else
{
    <h3 @attributes="AdditionalAttributes"
        id="@Item?.HeaderId"
        data-state="@(Item?.IsOpen == true ? "open" : "closed")"
        data-disabled="@((Item?.Disabled == true || Root?.Disabled == true) ? "true" : null)"
        data-orientation="@Root?.Orientation.ToString().ToLowerInvariant()"
        class="@Class" 
        style="@Style"
        @ref="ElementRef">
        @ChildContent
    </h3>
}

@code {
    [CascadingParameter] public AccordionRoot? Root { get; set; }
    [CascadingParameter] public AccordionItem? Item { get; set; }

    protected override void OnInitialized() => Item?.RegisterHeader(this);
    public void Dispose() => Item?.UnregisterHeader(this);
}
